@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
const API_KEY = '@Environment.GetEnvironmentVariable("BONNENSCANNER_API_KEY")';
const CLIENT_ID = '@Environment.GetEnvironmentVariable("BONNENSCANNER_CLIENT_ID")';
const data = @Html.Raw(@Model.Output);
</script>


<div class="text-center" id="form">
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload"/>
        <input type="submit" value="Upload"/>
    </form>
    <div id="message" style="display: none">Nieuwe regels toegevoegd: <span id="number-of-lines"></span></div>
</div>



<div class="flex-center full-height">
    <div class="content">
        <a href="#" id="start">Click to Sign In</a>
        <div id="token" class="hidden">
            <h2>Access Token</h2>
            <div id="access_token" class="code"></div>
        </div>
        <div id="error" class="hidden">
            <h2>Error</h2>
            <div id="error_details" class="code"></div>
        </div>
    </div>
</div>  